body {
    background: white;
}
main{
    padding-top: 33px;
}

@media (min-width:500px){
    nav{
        height: 70px !important;       /* Cambia el valor de lo que quieres */
        line-height: 60px !important;  /* Cambia el valor de lo que quieres */
    }
}